body {
    padding: 0 2rem;
    width: auto;
    min-height: 100vh;
    background: linear-gradient(180deg, #fff, #f3eef8);
    color: #111827;
    font-family: Inter, system-ui, sans-serif;
}

.logo {
    height: 6em;
    width: 6em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 0.4em #646cffaa);
}

.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
    border-radius: 0.5rem;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
