name: Deploy React App to GitHub Pages

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20 ]
        app-version: [ v2 ]

    env:
      DEPLOY_USER: 'm-tech-ltd'

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install v2 dependencies
        working-directory: ./${{ matrix.app-version }}
        run: npm ci

      - name: Build v2 project
        working-directory: ./${{ matrix.app-version }}
        run: npm ci

      - name: Build v2 project
        working-directory: ./${{ matrix.app-version }}
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build

      - name: Show build files
        run: ls -la ./build/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4